@model DDToolKit.Models.Map

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapLand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapLand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapObjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapObjects)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", ("Manage/" + Model.GameID.ToString()))
</div>
    }
</div>
