@model DDToolKit.Models.Map

@{
    ViewBag.Title = "Edit";
    var test2 = ViewBag.test;
    var mapland = Html.ViewData.Model.MapLand;
    var width = Html.ViewData.Model.MapWidth;
    var height = Html.ViewData.Model.MapHeight;
}
    <body onload="test()">
        <h2>Edit</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 id="maplandholder" hidden>@mapland</h4>
                <h4 id="tester"></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OwnerID)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.GameID)
                <input id="MapLandtest" name="MapLand" type="hidden" value="" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MapObjects)
                @*<div class="form-group">
                    @Html.LabelFor(model => model.OwnerID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OwnerID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GameID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GameID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GameID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MapWidth, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MapWidth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MapWidth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MapHeight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MapHeight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MapHeight, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.MapLand, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MapLand, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MapLand, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.MapObjects, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MapObjects, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MapObjects, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" onclick="save()" />
                    </div>
                </div>
            </div>
        }
        @{
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        <table style="width: 35%;" border="1">
            <tbody>
                <tr>
                    <td id="a1" style="background-color:white; display:none" onclick="toggleColor('a1')">&nbsp;</td>
                    <td id="a2" style="background-color:white; display:none" onclick="toggleColor('a2')">&nbsp;</td>
                    <td id="a3" style="background-color:white; display:none" onclick="toggleColor('a3')">&nbsp;</td>
                    <td id="a4" style="background-color:white; display:none" onclick="toggleColor('a4')">&nbsp;</td>
                    <td id="a5" style="background-color:white; display:none" onclick="toggleColor('a5')">&nbsp;</td>
                    <td id="a6" style="background-color:white; display:none" onclick="toggleColor('a6')">&nbsp;</td>
                    <td id="a7" style="background-color:white; display:none" onclick="toggleColor('a7')">&nbsp;</td>
                    <td id="a8" style="background-color:white; display:none" onclick="toggleColor('a8')">&nbsp;</td>
                    <td id="a9" style="background-color:white; display:none" onclick="toggleColor('a9')">&nbsp;</td>
                    <td id="a10" style="background-color:white; display:none" onclick="toggleColor('a10')">&nbsp;</td>
                    <td id="a11" style="background-color:white; display:none" onclick="toggleColor('a11')">&nbsp;</td>
                    <td id="a12" style="background-color:white; display:none" onclick="toggleColor('a12')">&nbsp;</td>
                    <td id="a13" style="background-color:white; display:none" onclick="toggleColor('a13')">&nbsp;</td>
                    <td id="a14" style="background-color:white; display:none" onclick="toggleColor('a14')">&nbsp;</td>
                    <td id="a15" style="background-color:white; display:none" onclick="toggleColor('a15')">&nbsp;</td>
                    <td id="a16" style="background-color:white; display:none" onclick="toggleColor('a16')">&nbsp;</td>
                    <td id="a17" style="background-color:white; display:none" onclick="toggleColor('a17')">&nbsp;</td>
                    <td id="a18" style="background-color:white; display:none" onclick="toggleColor('a18')">&nbsp;</td>
                    <td id="a19" style="background-color:white; display:none" onclick="toggleColor('a19')">&nbsp;</td>
                    <td id="a20" style="background-color:white; display:none" onclick="toggleColor('a20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="b1" style="background-color:white; display:none" onclick="toggleColor('b1')">&nbsp;</td>
                    <td id="b2" style="background-color:white; display:none" onclick="toggleColor('b2')">&nbsp;</td>
                    <td id="b3" style="background-color:white; display:none" onclick="toggleColor('b3')">&nbsp;</td>
                    <td id="b4" style="background-color:white; display:none" onclick="toggleColor('b4')">&nbsp;</td>
                    <td id="b5" style="background-color:white; display:none" onclick="toggleColor('b5')">&nbsp;</td>
                    <td id="b6" style="background-color:white; display:none" onclick="toggleColor('b6')">&nbsp;</td>
                    <td id="b7" style="background-color:white; display:none" onclick="toggleColor('b7')">&nbsp;</td>
                    <td id="b8" style="background-color:white; display:none" onclick="toggleColor('b8')">&nbsp;</td>
                    <td id="b9" style="background-color:white; display:none" onclick="toggleColor('b9')">&nbsp;</td>
                    <td id="b10" style="background-color:white; display:none" onclick="toggleColor('b10')">&nbsp;</td>
                    <td id="b11" style="background-color:white; display:none" onclick="toggleColor('b11')">&nbsp;</td>
                    <td id="b12" style="background-color:white; display:none" onclick="toggleColor('b12')">&nbsp;</td>
                    <td id="b13" style="background-color:white; display:none" onclick="toggleColor('b13')">&nbsp;</td>
                    <td id="b14" style="background-color:white; display:none" onclick="toggleColor('b14')">&nbsp;</td>
                    <td id="b15" style="background-color:white; display:none" onclick="toggleColor('b15')">&nbsp;</td>
                    <td id="b16" style="background-color:white; display:none" onclick="toggleColor('b16')">&nbsp;</td>
                    <td id="b17" style="background-color:white; display:none" onclick="toggleColor('b17')">&nbsp;</td>
                    <td id="b18" style="background-color:white; display:none" onclick="toggleColor('b18')">&nbsp;</td>
                    <td id="b19" style="background-color:white; display:none" onclick="toggleColor('b19')">&nbsp;</td>
                    <td id="b20" style="background-color:white; display:none" onclick="toggleColor('b20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="c1" style="background-color:white; display:none" onclick="toggleColor('c1')">&nbsp;</td>
                    <td id="c2" style="background-color:white; display:none" onclick="toggleColor('c2')">&nbsp;</td>
                    <td id="c3" style="background-color:white; display:none" onclick="toggleColor('c3')">&nbsp;</td>
                    <td id="c4" style="background-color:white; display:none" onclick="toggleColor('c4')">&nbsp;</td>
                    <td id="c5" style="background-color:white; display:none" onclick="toggleColor('c5')">&nbsp;</td>
                    <td id="c6" style="background-color:white; display:none" onclick="toggleColor('c6')">&nbsp;</td>
                    <td id="c7" style="background-color:white; display:none" onclick="toggleColor('c7')">&nbsp;</td>
                    <td id="c8" style="background-color:white; display:none" onclick="toggleColor('c8')">&nbsp;</td>
                    <td id="c9" style="background-color:white; display:none" onclick="toggleColor('c9')">&nbsp;</td>
                    <td id="c10" style="background-color:white; display:none" onclick="toggleColor('c10')">&nbsp;</td>
                    <td id="c11" style="background-color:white; display:none" onclick="toggleColor('c11')">&nbsp;</td>
                    <td id="c12" style="background-color:white; display:none" onclick="toggleColor('c12')">&nbsp;</td>
                    <td id="c13" style="background-color:white; display:none" onclick="toggleColor('c13')">&nbsp;</td>
                    <td id="c14" style="background-color:white; display:none" onclick="toggleColor('c14')">&nbsp;</td>
                    <td id="c15" style="background-color:white; display:none" onclick="toggleColor('c15')">&nbsp;</td>
                    <td id="c16" style="background-color:white; display:none" onclick="toggleColor('c16')">&nbsp;</td>
                    <td id="c17" style="background-color:white; display:none" onclick="toggleColor('c17')">&nbsp;</td>
                    <td id="c18" style="background-color:white; display:none" onclick="toggleColor('c18')">&nbsp;</td>
                    <td id="c19" style="background-color:white; display:none" onclick="toggleColor('c19')">&nbsp;</td>
                    <td id="c20" style="background-color:white; display:none" onclick="toggleColor('c20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="d1" style="background-color:white; display:none" onclick="toggleColor('d1')">&nbsp;</td>
                    <td id="d2" style="background-color:white; display:none" onclick="toggleColor('d2')">&nbsp;</td>
                    <td id="d3" style="background-color:white; display:none" onclick="toggleColor('d3')">&nbsp;</td>
                    <td id="d4" style="background-color:white; display:none" onclick="toggleColor('d4')">&nbsp;</td>
                    <td id="d5" style="background-color:white; display:none" onclick="toggleColor('d5')">&nbsp;</td>
                    <td id="d6" style="background-color:white; display:none" onclick="toggleColor('d6')">&nbsp;</td>
                    <td id="d7" style="background-color:white; display:none" onclick="toggleColor('d7')">&nbsp;</td>
                    <td id="d8" style="background-color:white; display:none" onclick="toggleColor('d8')">&nbsp;</td>
                    <td id="d9" style="background-color:white; display:none" onclick="toggleColor('d9')">&nbsp;</td>
                    <td id="d10" style="background-color:white; display:none" onclick="toggleColor('d10')">&nbsp;</td>
                    <td id="d11" style="background-color:white; display:none" onclick="toggleColor('d11')">&nbsp;</td>
                    <td id="d12" style="background-color:white; display:none" onclick="toggleColor('d12')">&nbsp;</td>
                    <td id="d13" style="background-color:white; display:none" onclick="toggleColor('d13')">&nbsp;</td>
                    <td id="d14" style="background-color:white; display:none" onclick="toggleColor('d14')">&nbsp;</td>
                    <td id="d15" style="background-color:white; display:none" onclick="toggleColor('d15')">&nbsp;</td>
                    <td id="d16" style="background-color:white; display:none" onclick="toggleColor('d16')">&nbsp;</td>
                    <td id="d17" style="background-color:white; display:none" onclick="toggleColor('d17')">&nbsp;</td>
                    <td id="d18" style="background-color:white; display:none" onclick="toggleColor('d18')">&nbsp;</td>
                    <td id="d19" style="background-color:white; display:none" onclick="toggleColor('d19')">&nbsp;</td>
                    <td id="d20" style="background-color:white; display:none" onclick="toggleColor('d20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="e1" style="background-color:white; display:none" onclick="toggleColor('e1')">&nbsp;</td>
                    <td id="e2" style="background-color:white; display:none" onclick="toggleColor('e2')">&nbsp;</td>
                    <td id="e3" style="background-color:white; display:none" onclick="toggleColor('e3')">&nbsp;</td>
                    <td id="e4" style="background-color:white; display:none" onclick="toggleColor('e4')">&nbsp;</td>
                    <td id="e5" style="background-color:white; display:none" onclick="toggleColor('e5')">&nbsp;</td>
                    <td id="e6" style="background-color:white; display:none" onclick="toggleColor('e6')">&nbsp;</td>
                    <td id="e7" style="background-color:white; display:none" onclick="toggleColor('e7')">&nbsp;</td>
                    <td id="e8" style="background-color:white; display:none" onclick="toggleColor('e8')">&nbsp;</td>
                    <td id="e9" style="background-color:white; display:none" onclick="toggleColor('e9')">&nbsp;</td>
                    <td id="e10" style="background-color:white; display:none" onclick="toggleColor('e10')">&nbsp;</td>
                    <td id="e11" style="background-color:white; display:none" onclick="toggleColor('e11')">&nbsp;</td>
                    <td id="e12" style="background-color:white; display:none" onclick="toggleColor('e12')">&nbsp;</td>
                    <td id="e13" style="background-color:white; display:none" onclick="toggleColor('e13')">&nbsp;</td>
                    <td id="e14" style="background-color:white; display:none" onclick="toggleColor('e14')">&nbsp;</td>
                    <td id="e15" style="background-color:white; display:none" onclick="toggleColor('e15')">&nbsp;</td>
                    <td id="e16" style="background-color:white; display:none" onclick="toggleColor('e16')">&nbsp;</td>
                    <td id="e17" style="background-color:white; display:none" onclick="toggleColor('e17')">&nbsp;</td>
                    <td id="e18" style="background-color:white; display:none" onclick="toggleColor('e18')">&nbsp;</td>
                    <td id="e19" style="background-color:white; display:none" onclick="toggleColor('e19')">&nbsp;</td>
                    <td id="e20" style="background-color:white; display:none" onclick="toggleColor('e20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="f1" style="background-color:white; display:none" onclick="toggleColor('f1')">&nbsp;</td>
                    <td id="f2" style="background-color:white; display:none" onclick="toggleColor('f2')">&nbsp;</td>
                    <td id="f3" style="background-color:white; display:none" onclick="toggleColor('f3')">&nbsp;</td>
                    <td id="f4" style="background-color:white; display:none" onclick="toggleColor('f4')">&nbsp;</td>
                    <td id="f5" style="background-color:white; display:none" onclick="toggleColor('f5')">&nbsp;</td>
                    <td id="f6" style="background-color:white; display:none" onclick="toggleColor('f6')">&nbsp;</td>
                    <td id="f7" style="background-color:white; display:none" onclick="toggleColor('f7')">&nbsp;</td>
                    <td id="f8" style="background-color:white; display:none" onclick="toggleColor('f8')">&nbsp;</td>
                    <td id="f9" style="background-color:white; display:none" onclick="toggleColor('f9')">&nbsp;</td>
                    <td id="f10" style="background-color:white; display:none" onclick="toggleColor('f10')">&nbsp;</td>
                    <td id="f11" style="background-color:white; display:none" onclick="toggleColor('f11')">&nbsp;</td>
                    <td id="f12" style="background-color:white; display:none" onclick="toggleColor('f12')">&nbsp;</td>
                    <td id="f13" style="background-color:white; display:none" onclick="toggleColor('f13')">&nbsp;</td>
                    <td id="f14" style="background-color:white; display:none" onclick="toggleColor('f14')">&nbsp;</td>
                    <td id="f15" style="background-color:white; display:none" onclick="toggleColor('f15')">&nbsp;</td>
                    <td id="f16" style="background-color:white; display:none" onclick="toggleColor('f16')">&nbsp;</td>
                    <td id="f17" style="background-color:white; display:none" onclick="toggleColor('f17')">&nbsp;</td>
                    <td id="f18" style="background-color:white; display:none" onclick="toggleColor('f18')">&nbsp;</td>
                    <td id="f19" style="background-color:white; display:none" onclick="toggleColor('f19')">&nbsp;</td>
                    <td id="f20" style="background-color:white; display:none" onclick="toggleColor('f20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="g1" style="background-color:white; display:none" onclick="toggleColor('g1')">&nbsp;</td>
                    <td id="g2" style="background-color:white; display:none" onclick="toggleColor('g2')">&nbsp;</td>
                    <td id="g3" style="background-color:white; display:none" onclick="toggleColor('g3')">&nbsp;</td>
                    <td id="g4" style="background-color:white; display:none" onclick="toggleColor('g4')">&nbsp;</td>
                    <td id="g5" style="background-color:white; display:none" onclick="toggleColor('g5')">&nbsp;</td>
                    <td id="g6" style="background-color:white; display:none" onclick="toggleColor('g6')">&nbsp;</td>
                    <td id="g7" style="background-color:white; display:none" onclick="toggleColor('g7')">&nbsp;</td>
                    <td id="g8" style="background-color:white; display:none" onclick="toggleColor('g8')">&nbsp;</td>
                    <td id="g9" style="background-color:white; display:none" onclick="toggleColor('g9')">&nbsp;</td>
                    <td id="g10" style="background-color:white; display:none" onclick="toggleColor('g10')">&nbsp;</td>
                    <td id="g11" style="background-color:white; display:none" onclick="toggleColor('g11')">&nbsp;</td>
                    <td id="g12" style="background-color:white; display:none" onclick="toggleColor('g12')">&nbsp;</td>
                    <td id="g13" style="background-color:white; display:none" onclick="toggleColor('g13')">&nbsp;</td>
                    <td id="g14" style="background-color:white; display:none" onclick="toggleColor('g14')">&nbsp;</td>
                    <td id="g15" style="background-color:white; display:none" onclick="toggleColor('g15')">&nbsp;</td>
                    <td id="g16" style="background-color:white; display:none" onclick="toggleColor('g16')">&nbsp;</td>
                    <td id="g17" style="background-color:white; display:none" onclick="toggleColor('g17')">&nbsp;</td>
                    <td id="g18" style="background-color:white; display:none" onclick="toggleColor('g18')">&nbsp;</td>
                    <td id="g19" style="background-color:white; display:none" onclick="toggleColor('g19')">&nbsp;</td>
                    <td id="g20" style="background-color:white; display:none" onclick="toggleColor('g20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="h1" style="background-color:white; display:none" onclick="toggleColor('h1')">&nbsp;</td>
                    <td id="h2" style="background-color:white; display:none" onclick="toggleColor('h2')">&nbsp;</td>
                    <td id="h3" style="background-color:white; display:none" onclick="toggleColor('h3')">&nbsp;</td>
                    <td id="h4" style="background-color:white; display:none" onclick="toggleColor('h4')">&nbsp;</td>
                    <td id="h5" style="background-color:white; display:none" onclick="toggleColor('h5')">&nbsp;</td>
                    <td id="h6" style="background-color:white; display:none" onclick="toggleColor('h6')">&nbsp;</td>
                    <td id="h7" style="background-color:white; display:none" onclick="toggleColor('h7')">&nbsp;</td>
                    <td id="h8" style="background-color:white; display:none" onclick="toggleColor('h8')">&nbsp;</td>
                    <td id="h9" style="background-color:white; display:none" onclick="toggleColor('h9')">&nbsp;</td>
                    <td id="h10" style="background-color:white; display:none" onclick="toggleColor('h10')">&nbsp;</td>
                    <td id="h11" style="background-color:white; display:none" onclick="toggleColor('h11')">&nbsp;</td>
                    <td id="h12" style="background-color:white; display:none" onclick="toggleColor('h12')">&nbsp;</td>
                    <td id="h13" style="background-color:white; display:none" onclick="toggleColor('h13')">&nbsp;</td>
                    <td id="h14" style="background-color:white; display:none" onclick="toggleColor('h14')">&nbsp;</td>
                    <td id="h15" style="background-color:white; display:none" onclick="toggleColor('h15')">&nbsp;</td>
                    <td id="h16" style="background-color:white; display:none" onclick="toggleColor('h16')">&nbsp;</td>
                    <td id="h17" style="background-color:white; display:none" onclick="toggleColor('h17')">&nbsp;</td>
                    <td id="h18" style="background-color:white; display:none" onclick="toggleColor('h18')">&nbsp;</td>
                    <td id="h19" style="background-color:white; display:none" onclick="toggleColor('h19')">&nbsp;</td>
                    <td id="h20" style="background-color:white; display:none" onclick="toggleColor('h20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="i1" style="background-color:white; display:none" onclick="toggleColor('i1')">&nbsp;</td>
                    <td id="i2" style="background-color:white; display:none" onclick="toggleColor('i2')">&nbsp;</td>
                    <td id="i3" style="background-color:white; display:none" onclick="toggleColor('i3')">&nbsp;</td>
                    <td id="i4" style="background-color:white; display:none" onclick="toggleColor('i4')">&nbsp;</td>
                    <td id="i5" style="background-color:white; display:none" onclick="toggleColor('i5')">&nbsp;</td>
                    <td id="i6" style="background-color:white; display:none" onclick="toggleColor('i6')">&nbsp;</td>
                    <td id="i7" style="background-color:white; display:none" onclick="toggleColor('i7')">&nbsp;</td>
                    <td id="i8" style="background-color:white; display:none" onclick="toggleColor('i8')">&nbsp;</td>
                    <td id="i9" style="background-color:white; display:none" onclick="toggleColor('i9')">&nbsp;</td>
                    <td id="i10" style="background-color:white; display:none" onclick="toggleColor('i10')">&nbsp;</td>
                    <td id="i11" style="background-color:white; display:none" onclick="toggleColor('i11')">&nbsp;</td>
                    <td id="i12" style="background-color:white; display:none" onclick="toggleColor('i12')">&nbsp;</td>
                    <td id="i13" style="background-color:white; display:none" onclick="toggleColor('i13')">&nbsp;</td>
                    <td id="i14" style="background-color:white; display:none" onclick="toggleColor('i14')">&nbsp;</td>
                    <td id="i15" style="background-color:white; display:none" onclick="toggleColor('i15')">&nbsp;</td>
                    <td id="i16" style="background-color:white; display:none" onclick="toggleColor('i16')">&nbsp;</td>
                    <td id="i17" style="background-color:white; display:none" onclick="toggleColor('i17')">&nbsp;</td>
                    <td id="i18" style="background-color:white; display:none" onclick="toggleColor('i18')">&nbsp;</td>
                    <td id="i19" style="background-color:white; display:none" onclick="toggleColor('i19')">&nbsp;</td>
                    <td id="i20" style="background-color:white; display:none" onclick="toggleColor('i20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="j1" style="background-color:white; display:none" onclick="toggleColor('j1')">&nbsp;</td>
                    <td id="j2" style="background-color:white; display:none" onclick="toggleColor('j2')">&nbsp;</td>
                    <td id="j3" style="background-color:white; display:none" onclick="toggleColor('j3')">&nbsp;</td>
                    <td id="j4" style="background-color:white; display:none" onclick="toggleColor('j4')">&nbsp;</td>
                    <td id="j5" style="background-color:white; display:none" onclick="toggleColor('j5')">&nbsp;</td>
                    <td id="j6" style="background-color:white; display:none" onclick="toggleColor('j6')">&nbsp;</td>
                    <td id="j7" style="background-color:white; display:none" onclick="toggleColor('j7')">&nbsp;</td>
                    <td id="j8" style="background-color:white; display:none" onclick="toggleColor('j8')">&nbsp;</td>
                    <td id="j9" style="background-color:white; display:none" onclick="toggleColor('j9')">&nbsp;</td>
                    <td id="j10" style="background-color:white; display:none" onclick="toggleColor('j10')">&nbsp;</td>
                    <td id="j11" style="background-color:white; display:none" onclick="toggleColor('j11')">&nbsp;</td>
                    <td id="j12" style="background-color:white; display:none" onclick="toggleColor('j12')">&nbsp;</td>
                    <td id="j13" style="background-color:white; display:none" onclick="toggleColor('j13')">&nbsp;</td>
                    <td id="j14" style="background-color:white; display:none" onclick="toggleColor('j14')">&nbsp;</td>
                    <td id="j15" style="background-color:white; display:none" onclick="toggleColor('j15')">&nbsp;</td>
                    <td id="j16" style="background-color:white; display:none" onclick="toggleColor('j16')">&nbsp;</td>
                    <td id="j17" style="background-color:white; display:none" onclick="toggleColor('j17')">&nbsp;</td>
                    <td id="j18" style="background-color:white; display:none" onclick="toggleColor('j18')">&nbsp;</td>
                    <td id="j19" style="background-color:white; display:none" onclick="toggleColor('j19')">&nbsp;</td>
                    <td id="j20" style="background-color:white; display:none" onclick="toggleColor('j20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="k1" style="background-color:white; display:none" onclick="toggleColor('k1')">&nbsp;</td>
                    <td id="k2" style="background-color:white; display:none" onclick="toggleColor('k2')">&nbsp;</td>
                    <td id="k3" style="background-color:white; display:none" onclick="toggleColor('k3')">&nbsp;</td>
                    <td id="k4" style="background-color:white; display:none" onclick="toggleColor('k4')">&nbsp;</td>
                    <td id="k5" style="background-color:white; display:none" onclick="toggleColor('k5')">&nbsp;</td>
                    <td id="k6" style="background-color:white; display:none" onclick="toggleColor('k6')">&nbsp;</td>
                    <td id="k7" style="background-color:white; display:none" onclick="toggleColor('k7')">&nbsp;</td>
                    <td id="k8" style="background-color:white; display:none" onclick="toggleColor('k8')">&nbsp;</td>
                    <td id="k9" style="background-color:white; display:none" onclick="toggleColor('k9')">&nbsp;</td>
                    <td id="k10" style="background-color:white; display:none" onclick="toggleColor('k10')">&nbsp;</td>
                    <td id="k11" style="background-color:white; display:none" onclick="toggleColor('k11')">&nbsp;</td>
                    <td id="k12" style="background-color:white; display:none" onclick="toggleColor('k12')">&nbsp;</td>
                    <td id="k13" style="background-color:white; display:none" onclick="toggleColor('k13')">&nbsp;</td>
                    <td id="k14" style="background-color:white; display:none" onclick="toggleColor('k14')">&nbsp;</td>
                    <td id="k15" style="background-color:white; display:none" onclick="toggleColor('k15')">&nbsp;</td>
                    <td id="k16" style="background-color:white; display:none" onclick="toggleColor('k16')">&nbsp;</td>
                    <td id="k17" style="background-color:white; display:none" onclick="toggleColor('k17')">&nbsp;</td>
                    <td id="k18" style="background-color:white; display:none" onclick="toggleColor('k18')">&nbsp;</td>
                    <td id="k19" style="background-color:white; display:none" onclick="toggleColor('k19')">&nbsp;</td>
                    <td id="k20" style="background-color:white; display:none" onclick="toggleColor('k20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="l1" style="background-color:white; display:none" onclick="toggleColor('l1')">&nbsp;</td>
                    <td id="l2" style="background-color:white; display:none" onclick="toggleColor('l2')">&nbsp;</td>
                    <td id="l3" style="background-color:white; display:none" onclick="toggleColor('l3')">&nbsp;</td>
                    <td id="l4" style="background-color:white; display:none" onclick="toggleColor('l4')">&nbsp;</td>
                    <td id="l5" style="background-color:white; display:none" onclick="toggleColor('l5')">&nbsp;</td>
                    <td id="l6" style="background-color:white; display:none" onclick="toggleColor('l6')">&nbsp;</td>
                    <td id="l7" style="background-color:white; display:none" onclick="toggleColor('l7')">&nbsp;</td>
                    <td id="l8" style="background-color:white; display:none" onclick="toggleColor('l8')">&nbsp;</td>
                    <td id="l9" style="background-color:white; display:none" onclick="toggleColor('l9')">&nbsp;</td>
                    <td id="l10" style="background-color:white; display:none" onclick="toggleColor('l10')">&nbsp;</td>
                    <td id="l11" style="background-color:white; display:none" onclick="toggleColor('l11')">&nbsp;</td>
                    <td id="l12" style="background-color:white; display:none" onclick="toggleColor('l12')">&nbsp;</td>
                    <td id="l13" style="background-color:white; display:none" onclick="toggleColor('l13')">&nbsp;</td>
                    <td id="l14" style="background-color:white; display:none" onclick="toggleColor('l14')">&nbsp;</td>
                    <td id="l15" style="background-color:white; display:none" onclick="toggleColor('l15')">&nbsp;</td>
                    <td id="l16" style="background-color:white; display:none" onclick="toggleColor('l16')">&nbsp;</td>
                    <td id="l17" style="background-color:white; display:none" onclick="toggleColor('l17')">&nbsp;</td>
                    <td id="l18" style="background-color:white; display:none" onclick="toggleColor('l18')">&nbsp;</td>
                    <td id="l19" style="background-color:white; display:none" onclick="toggleColor('l19')">&nbsp;</td>
                    <td id="l20" style="background-color:white; display:none" onclick="toggleColor('l20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="m1" style="background-color:white; display:none" onclick="toggleColor('m1')">&nbsp;</td>
                    <td id="m2" style="background-color:white; display:none" onclick="toggleColor('m2')">&nbsp;</td>
                    <td id="m3" style="background-color:white; display:none" onclick="toggleColor('m3')">&nbsp;</td>
                    <td id="m4" style="background-color:white; display:none" onclick="toggleColor('m4')">&nbsp;</td>
                    <td id="m5" style="background-color:white; display:none" onclick="toggleColor('m5')">&nbsp;</td>
                    <td id="m6" style="background-color:white; display:none" onclick="toggleColor('m6')">&nbsp;</td>
                    <td id="m7" style="background-color:white; display:none" onclick="toggleColor('m7')">&nbsp;</td>
                    <td id="m8" style="background-color:white; display:none" onclick="toggleColor('m8')">&nbsp;</td>
                    <td id="m9" style="background-color:white; display:none" onclick="toggleColor('m9')">&nbsp;</td>
                    <td id="m10" style="background-color:white; display:none" onclick="toggleColor('m10')">&nbsp;</td>
                    <td id="m11" style="background-color:white; display:none" onclick="toggleColor('m11')">&nbsp;</td>
                    <td id="m12" style="background-color:white; display:none" onclick="toggleColor('m12')">&nbsp;</td>
                    <td id="m13" style="background-color:white; display:none" onclick="toggleColor('m13')">&nbsp;</td>
                    <td id="m14" style="background-color:white; display:none" onclick="toggleColor('m14')">&nbsp;</td>
                    <td id="m15" style="background-color:white; display:none" onclick="toggleColor('m15')">&nbsp;</td>
                    <td id="m16" style="background-color:white; display:none" onclick="toggleColor('m16')">&nbsp;</td>
                    <td id="m17" style="background-color:white; display:none" onclick="toggleColor('m17')">&nbsp;</td>
                    <td id="m18" style="background-color:white; display:none" onclick="toggleColor('m18')">&nbsp;</td>
                    <td id="m19" style="background-color:white; display:none" onclick="toggleColor('m19')">&nbsp;</td>
                    <td id="m20" style="background-color:white; display:none" onclick="toggleColor('m20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="n1" style="background-color:white; display:none" onclick="toggleColor('n1')">&nbsp;</td>
                    <td id="n2" style="background-color:white; display:none" onclick="toggleColor('n2')">&nbsp;</td>
                    <td id="n3" style="background-color:white; display:none" onclick="toggleColor('n3')">&nbsp;</td>
                    <td id="n4" style="background-color:white; display:none" onclick="toggleColor('n4')">&nbsp;</td>
                    <td id="n5" style="background-color:white; display:none" onclick="toggleColor('n5')">&nbsp;</td>
                    <td id="n6" style="background-color:white; display:none" onclick="toggleColor('n6')">&nbsp;</td>
                    <td id="n7" style="background-color:white; display:none" onclick="toggleColor('n7')">&nbsp;</td>
                    <td id="n8" style="background-color:white; display:none" onclick="toggleColor('n8')">&nbsp;</td>
                    <td id="n9" style="background-color:white; display:none" onclick="toggleColor('n9')">&nbsp;</td>
                    <td id="n10" style="background-color:white; display:none" onclick="toggleColor('n10')">&nbsp;</td>
                    <td id="n11" style="background-color:white; display:none" onclick="toggleColor('n11')">&nbsp;</td>
                    <td id="n12" style="background-color:white; display:none" onclick="toggleColor('n12')">&nbsp;</td>
                    <td id="n13" style="background-color:white; display:none" onclick="toggleColor('n13')">&nbsp;</td>
                    <td id="n14" style="background-color:white; display:none" onclick="toggleColor('n14')">&nbsp;</td>
                    <td id="n15" style="background-color:white; display:none" onclick="toggleColor('n15')">&nbsp;</td>
                    <td id="n16" style="background-color:white; display:none" onclick="toggleColor('n16')">&nbsp;</td>
                    <td id="n17" style="background-color:white; display:none" onclick="toggleColor('n17')">&nbsp;</td>
                    <td id="n18" style="background-color:white; display:none" onclick="toggleColor('n18')">&nbsp;</td>
                    <td id="n19" style="background-color:white; display:none" onclick="toggleColor('n19')">&nbsp;</td>
                    <td id="n20" style="background-color:white; display:none" onclick="toggleColor('n20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="o1" style="background-color:white; display:none" onclick="toggleColor('o1')">&nbsp;</td>
                    <td id="o2" style="background-color:white; display:none" onclick="toggleColor('o2')">&nbsp;</td>
                    <td id="o3" style="background-color:white; display:none" onclick="toggleColor('o3')">&nbsp;</td>
                    <td id="o4" style="background-color:white; display:none" onclick="toggleColor('o4')">&nbsp;</td>
                    <td id="o5" style="background-color:white; display:none" onclick="toggleColor('o5')">&nbsp;</td>
                    <td id="o6" style="background-color:white; display:none" onclick="toggleColor('o6')">&nbsp;</td>
                    <td id="o7" style="background-color:white; display:none" onclick="toggleColor('o7')">&nbsp;</td>
                    <td id="o8" style="background-color:white; display:none" onclick="toggleColor('o8')">&nbsp;</td>
                    <td id="o9" style="background-color:white; display:none" onclick="toggleColor('o9')">&nbsp;</td>
                    <td id="o10" style="background-color:white; display:none" onclick="toggleColor('o10')">&nbsp;</td>
                    <td id="o11" style="background-color:white; display:none" onclick="toggleColor('o11')">&nbsp;</td>
                    <td id="o12" style="background-color:white; display:none" onclick="toggleColor('o12')">&nbsp;</td>
                    <td id="o13" style="background-color:white; display:none" onclick="toggleColor('o13')">&nbsp;</td>
                    <td id="o14" style="background-color:white; display:none" onclick="toggleColor('o14')">&nbsp;</td>
                    <td id="o15" style="background-color:white; display:none" onclick="toggleColor('o15')">&nbsp;</td>
                    <td id="o16" style="background-color:white; display:none" onclick="toggleColor('o16')">&nbsp;</td>
                    <td id="o17" style="background-color:white; display:none" onclick="toggleColor('o17')">&nbsp;</td>
                    <td id="o18" style="background-color:white; display:none" onclick="toggleColor('o18')">&nbsp;</td>
                    <td id="o19" style="background-color:white; display:none" onclick="toggleColor('o19')">&nbsp;</td>
                    <td id="o20" style="background-color:white; display:none" onclick="toggleColor('o20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="p1" style="background-color:white; display:none" onclick="toggleColor('p1')">&nbsp;</td>
                    <td id="p2" style="background-color:white; display:none" onclick="toggleColor('p2')">&nbsp;</td>
                    <td id="p3" style="background-color:white; display:none" onclick="toggleColor('p3')">&nbsp;</td>
                    <td id="p4" style="background-color:white; display:none" onclick="toggleColor('p4')">&nbsp;</td>
                    <td id="p5" style="background-color:white; display:none" onclick="toggleColor('p5')">&nbsp;</td>
                    <td id="p6" style="background-color:white; display:none" onclick="toggleColor('p6')">&nbsp;</td>
                    <td id="p7" style="background-color:white; display:none" onclick="toggleColor('p7')">&nbsp;</td>
                    <td id="p8" style="background-color:white; display:none" onclick="toggleColor('p8')">&nbsp;</td>
                    <td id="p9" style="background-color:white; display:none" onclick="toggleColor('p9')">&nbsp;</td>
                    <td id="p10" style="background-color:white; display:none" onclick="toggleColor('p10')">&nbsp;</td>
                    <td id="p11" style="background-color:white; display:none" onclick="toggleColor('p11')">&nbsp;</td>
                    <td id="p12" style="background-color:white; display:none" onclick="toggleColor('p12')">&nbsp;</td>
                    <td id="p13" style="background-color:white; display:none" onclick="toggleColor('p13')">&nbsp;</td>
                    <td id="p14" style="background-color:white; display:none" onclick="toggleColor('p14')">&nbsp;</td>
                    <td id="p15" style="background-color:white; display:none" onclick="toggleColor('p15')">&nbsp;</td>
                    <td id="p16" style="background-color:white; display:none" onclick="toggleColor('p16')">&nbsp;</td>
                    <td id="p17" style="background-color:white; display:none" onclick="toggleColor('p17')">&nbsp;</td>
                    <td id="p18" style="background-color:white; display:none" onclick="toggleColor('p18')">&nbsp;</td>
                    <td id="p19" style="background-color:white; display:none" onclick="toggleColor('p19')">&nbsp;</td>
                    <td id="p20" style="background-color:white; display:none" onclick="toggleColor('p20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="q1" style="background-color:white; display:none" onclick="toggleColor('q1')">&nbsp;</td>
                    <td id="q2" style="background-color:white; display:none" onclick="toggleColor('q2')">&nbsp;</td>
                    <td id="q3" style="background-color:white; display:none" onclick="toggleColor('q3')">&nbsp;</td>
                    <td id="q4" style="background-color:white; display:none" onclick="toggleColor('q4')">&nbsp;</td>
                    <td id="q5" style="background-color:white; display:none" onclick="toggleColor('q5')">&nbsp;</td>
                    <td id="q6" style="background-color:white; display:none" onclick="toggleColor('q6')">&nbsp;</td>
                    <td id="q7" style="background-color:white; display:none" onclick="toggleColor('q7')">&nbsp;</td>
                    <td id="q8" style="background-color:white; display:none" onclick="toggleColor('q8')">&nbsp;</td>
                    <td id="q9" style="background-color:white; display:none" onclick="toggleColor('q9')">&nbsp;</td>
                    <td id="q10" style="background-color:white; display:none" onclick="toggleColor('q10')">&nbsp;</td>
                    <td id="q11" style="background-color:white; display:none" onclick="toggleColor('q11')">&nbsp;</td>
                    <td id="q12" style="background-color:white; display:none" onclick="toggleColor('q12')">&nbsp;</td>
                    <td id="q13" style="background-color:white; display:none" onclick="toggleColor('q13')">&nbsp;</td>
                    <td id="q14" style="background-color:white; display:none" onclick="toggleColor('q14')">&nbsp;</td>
                    <td id="q15" style="background-color:white; display:none" onclick="toggleColor('q15')">&nbsp;</td>
                    <td id="q16" style="background-color:white; display:none" onclick="toggleColor('q16')">&nbsp;</td>
                    <td id="q17" style="background-color:white; display:none" onclick="toggleColor('q17')">&nbsp;</td>
                    <td id="q18" style="background-color:white; display:none" onclick="toggleColor('q18')">&nbsp;</td>
                    <td id="q19" style="background-color:white; display:none" onclick="toggleColor('q19')">&nbsp;</td>
                    <td id="q20" style="background-color:white; display:none" onclick="toggleColor('q20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="r1" style="background-color:white; display:none" onclick="toggleColor('r1')">&nbsp;</td>
                    <td id="r2" style="background-color:white; display:none" onclick="toggleColor('r2')">&nbsp;</td>
                    <td id="r3" style="background-color:white; display:none" onclick="toggleColor('r3')">&nbsp;</td>
                    <td id="r4" style="background-color:white; display:none" onclick="toggleColor('r4')">&nbsp;</td>
                    <td id="r5" style="background-color:white; display:none" onclick="toggleColor('r5')">&nbsp;</td>
                    <td id="r6" style="background-color:white; display:none" onclick="toggleColor('r6')">&nbsp;</td>
                    <td id="r7" style="background-color:white; display:none" onclick="toggleColor('r7')">&nbsp;</td>
                    <td id="r8" style="background-color:white; display:none" onclick="toggleColor('r8')">&nbsp;</td>
                    <td id="r9" style="background-color:white; display:none" onclick="toggleColor('r9')">&nbsp;</td>
                    <td id="r10" style="background-color:white; display:none" onclick="toggleColor('r10')">&nbsp;</td>
                    <td id="r11" style="background-color:white; display:none" onclick="toggleColor('r11')">&nbsp;</td>
                    <td id="r12" style="background-color:white; display:none" onclick="toggleColor('r12')">&nbsp;</td>
                    <td id="r13" style="background-color:white; display:none" onclick="toggleColor('r13')">&nbsp;</td>
                    <td id="r14" style="background-color:white; display:none" onclick="toggleColor('r14')">&nbsp;</td>
                    <td id="r15" style="background-color:white; display:none" onclick="toggleColor('r15')">&nbsp;</td>
                    <td id="r16" style="background-color:white; display:none" onclick="toggleColor('r16')">&nbsp;</td>
                    <td id="r17" style="background-color:white; display:none" onclick="toggleColor('r17')">&nbsp;</td>
                    <td id="r18" style="background-color:white; display:none" onclick="toggleColor('r18')">&nbsp;</td>
                    <td id="r19" style="background-color:white; display:none" onclick="toggleColor('r19')">&nbsp;</td>
                    <td id="r20" style="background-color:white; display:none" onclick="toggleColor('r20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="s1" style="background-color:white; display:none" onclick="toggleColor('s1')">&nbsp;</td>
                    <td id="s2" style="background-color:white; display:none" onclick="toggleColor('s2')">&nbsp;</td>
                    <td id="s3" style="background-color:white; display:none" onclick="toggleColor('s3')">&nbsp;</td>
                    <td id="s4" style="background-color:white; display:none" onclick="toggleColor('s4')">&nbsp;</td>
                    <td id="s5" style="background-color:white; display:none" onclick="toggleColor('s5')">&nbsp;</td>
                    <td id="s6" style="background-color:white; display:none" onclick="toggleColor('s6')">&nbsp;</td>
                    <td id="s7" style="background-color:white; display:none" onclick="toggleColor('s7')">&nbsp;</td>
                    <td id="s8" style="background-color:white; display:none" onclick="toggleColor('s8')">&nbsp;</td>
                    <td id="s9" style="background-color:white; display:none" onclick="toggleColor('s9')">&nbsp;</td>
                    <td id="s10" style="background-color:white; display:none" onclick="toggleColor('s10')">&nbsp;</td>
                    <td id="s11" style="background-color:white; display:none" onclick="toggleColor('s11')">&nbsp;</td>
                    <td id="s12" style="background-color:white; display:none" onclick="toggleColor('s12')">&nbsp;</td>
                    <td id="s13" style="background-color:white; display:none" onclick="toggleColor('s13')">&nbsp;</td>
                    <td id="s14" style="background-color:white; display:none" onclick="toggleColor('s14')">&nbsp;</td>
                    <td id="s15" style="background-color:white; display:none" onclick="toggleColor('s15')">&nbsp;</td>
                    <td id="s16" style="background-color:white; display:none" onclick="toggleColor('s16')">&nbsp;</td>
                    <td id="s17" style="background-color:white; display:none" onclick="toggleColor('s17')">&nbsp;</td>
                    <td id="s18" style="background-color:white; display:none" onclick="toggleColor('s18')">&nbsp;</td>
                    <td id="s19" style="background-color:white; display:none" onclick="toggleColor('s19')">&nbsp;</td>
                    <td id="s20" style="background-color:white; display:none" onclick="toggleColor('s20')">&nbsp;</td>
                </tr>
                <tr>
                    <td id="t1" style="background-color:white; display:none" onclick="toggleColor('t1')">&nbsp;</td>
                    <td id="t2" style="background-color:white; display:none" onclick="toggleColor('t2')">&nbsp;</td>
                    <td id="t3" style="background-color:white; display:none" onclick="toggleColor('t3')">&nbsp;</td>
                    <td id="t4" style="background-color:white; display:none" onclick="toggleColor('t4')">&nbsp;</td>
                    <td id="t5" style="background-color:white; display:none" onclick="toggleColor('t5')">&nbsp;</td>
                    <td id="t6" style="background-color:white; display:none" onclick="toggleColor('t6')">&nbsp;</td>
                    <td id="t7" style="background-color:white; display:none" onclick="toggleColor('t7')">&nbsp;</td>
                    <td id="t8" style="background-color:white; display:none" onclick="toggleColor('t8')">&nbsp;</td>
                    <td id="t9" style="background-color:white; display:none" onclick="toggleColor('t9')">&nbsp;</td>
                    <td id="t10" style="background-color:white; display:none" onclick="toggleColor('t10')">&nbsp;</td>
                    <td id="t11" style="background-color:white; display:none" onclick="toggleColor('t11')">&nbsp;</td>
                    <td id="t12" style="background-color:white; display:none" onclick="toggleColor('t12')">&nbsp;</td>
                    <td id="t13" style="background-color:white; display:none" onclick="toggleColor('t13')">&nbsp;</td>
                    <td id="t14" style="background-color:white; display:none" onclick="toggleColor('t14')">&nbsp;</td>
                    <td id="t15" style="background-color:white; display:none" onclick="toggleColor('t15')">&nbsp;</td>
                    <td id="t16" style="background-color:white; display:none" onclick="toggleColor('t16')">&nbsp;</td>
                    <td id="t17" style="background-color:white; display:none" onclick="toggleColor('t17')">&nbsp;</td>
                    <td id="t18" style="background-color:white; display:none" onclick="toggleColor('t18')">&nbsp;</td>
                    <td id="t19" style="background-color:white; display:none" onclick="toggleColor('t19')">&nbsp;</td>
                    <td id="t20" style="background-color:white; display:none" onclick="toggleColor('t20')">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>

<script>
    function toggleColor(id) {
        var x = document.getElementById(id);

        if (x.style.backgroundColor === "white") {
            x.style.backgroundColor = "blue";
        } else if (x.style.backgroundColor === "blue") {
            x.style.backgroundColor = "yellow";
        } else if (x.style.backgroundColor === "yellow") {
            x.style.backgroundColor = "green";
        } else if (x.style.backgroundColor === "green") {
            x.style.backgroundColor = "orange";
        } else if (x.style.backgroundColor === "orange") {
            x.style.backgroundColor = "white";
        }
    }
    var seed = "";
    seed = document.getElementById("maplandholder").innerHTML;
    var saveState = "";
    var alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't'];
    var nums = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'];
    var xaxis = @width;
    var yaxis = @height;

    function test() {
        var temp;
        var count1;
        var count2;
        var count3 = 0;
        for (count1 = 0; count1 < yaxis; count1++) {
            for (count2 = 0; count2 < xaxis; count2++) {
                temp = document.getElementById(alpha[count1] + nums[count2]);
                temp.style.display = "table-cell";
                if (seed.charAt(count3) == '0') {
                    temp.style.backgroundColor = "white";
                } else if (seed.charAt(count3) == '1') {
                    temp.style.backgroundColor = "blue";
                } else if (seed.charAt(count3) == '2') {
                    temp.style.backgroundColor = "yellow";
                } else if (seed.charAt(count3) == '3') {
                    temp.style.backgroundColor = "green";
                } else if (seed.charAt(count3) == '4') {
                    temp.style.backgroundColor = "orange";
                }
                count3++;
            }
        }
    }

    function save() {
        var temp;
        var count1;
        var count2;
        for (count1 = 0; count1 < yaxis; count1++) {
            for (count2 = 0; count2 < xaxis; count2++) {
                temp = document.getElementById(alpha[count1] + nums[count2]);
                if (temp.style.backgroundColor == "white") {
                    saveState = saveState + '0';
                } else if (temp.style.backgroundColor == "blue") {
                    saveState = saveState + '1';
                } else if (temp.style.backgroundColor == "yellow") {
                    saveState = saveState + '2';
                } else if (temp.style.backgroundColor == "green") {
                    saveState = saveState + '3';
                } else if (temp.style.backgroundColor == "orange") {
                    saveState = saveState + '4';
                }
            }
        }
        seed = saveState;
        
        saveState = "";
        document.getElementById("MapLandtest").value = seed;
    }

</script>


