@model DDToolKit.Models.BlogPost

@{
    ViewBag.Title = "Create";
}




    <body style="background-image:url('/Content/image/postBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">
        <link href="~/Content/BlogPost.css" rel="stylesheet" type="text/css" />

        <h1>  D&D Blog Post</h1>
        <p>
            <pre class="description" size="small">
        This webagpage is created for a player to come and post thier comments
        about what they feel about this game experience 
        any helpful tips for those who will start the game
        and for those who are starting with the game.
        We would appreciate if you do not post any harmful or
        negative comments.
        Fill in your comments and post it.
        Enjoy your experience.
    </pre>

        </p>
        <button class="link">
            @Html.ActionLink("See Posts", "Index")
        </button>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="blog">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <h2> PostID</h2>

                    <div class="col-md-11">

                        @Html.EditorFor(model => model.PostID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h3> User Name</h3>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h4> Title</h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h4> Post</h4>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Post, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Post, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <h5> Published (date)</h5>
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </body>