@model DDToolKit.Models.BlogPost


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BlogPost</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Post)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Post)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Published)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Published)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
