@model IEnumerable<DDToolKit.Models.BlogPost>

<style>
    body {
        color: #000000;
    }

    table {
        background-color: #808080;
    }

   h1 {
        background-color: #808080;
        border-style: ridge;
        border-color: #333030;
        border-width: thick;
        padding-left: 35px;
        padding-right: 35px;
        display: inline-table;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        margin-left: 435px;
    }
    p{
        color:black;
    }

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>





<body style="background-image:url('/Content/image/postBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">

    <h1>  D&D Post</h1>
   

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="blogView" >
        <tr>

            <th class="comments"> Comments</th>
            @*  <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>*@
            <th></th>
        </tr>


        <tr>
            <td>


                <table>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                <p>User Name</p>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Title</p>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Post</p>
                                @Html.TextAreaFor( modelItem => item.Post)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Published </p>
                               @Html.DisplayFor(modelItem => item.Published)
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                -------------------------------------------------------------------------------------
                            </td>
                        </tr>
                    }

                </table>

            </td>
            

        </tr>
        </table>

</body>
</html>