@model DDToolKit.Model.Creature

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Creature</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Subtype)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subtype)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Alignment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Alignment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArmorClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArmorClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HitPoints)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HitPoints)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HitDice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HitDice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Speed)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Speed)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Strength)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Strength)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dexterity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dexterity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Constitution)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Constitution)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intelligence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intelligence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Wisdom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Wisdom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Charisma)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Charisma)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Proficiencies)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proficiencies)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DamageVulnerabilities)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DamageVulnerabilities)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DamageResistances)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DamageResistances)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DamageImmunities)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DamageImmunities)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConditionImmunities)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConditionImmunities)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Senses)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Senses)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Languages)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Languages)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChallengeRating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChallengeRating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpecialAbilities)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpecialAbilities)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Actions)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Actions)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LegendaryActions)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LegendaryActions)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reactions)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reactions)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
