@model DDToolKit.Model.Creature

<body style="background-image: url(https://storage.needpix.com/rsynced_images/dark-brown-background-1450781607k3z.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: silver;
    ">
</body>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <div class="jumbotron">
        <MonsterName>@Html.DisplayFor(model => model.Name)</MonsterName>
        @if (Model.Subtype == null)
        {
            <p>@Html.DisplayFor(model => model.Size) @Html.DisplayFor(model => model.Type), @Html.DisplayFor(model => model.Alignment)</p>
        }
        else
        {
           <p>@Html.DisplayFor(model => model.Size) @Html.DisplayFor(model => model.Type) (@Html.DisplayFor(model => model.Subtype)), @Html.DisplayFor(model => model.Alignment)</p>
        }
    </div>
</head>

<div class="taper"></div>
<body>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArmorClass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArmorClass)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HitPoints)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HitPoints) (@Html.DisplayFor(model => model.HitDice))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Speed)
            </dt>

            <dd>
                @ViewBag.Speed
            </dd>

            <div class="taper"></div>

            <div class="row">
                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Strength)</h4>
                    </MBR>
                    <p>@Html.DisplayFor(model => model.Strength)</p>
                </div>

                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Dexterity)</h4>
                    </MBR>
                    <p>@Html.DisplayFor(model => model.Dexterity)</p>
                </div>

                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Constitution)</h4>
                    </MBR>
                    <p>@Html.DisplayFor(model => model.Constitution)</p>
                </div>


                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Intelligence)</h4>
                    </MBR>

                    <p>@Html.DisplayFor(model => model.Intelligence)</p>
                </div>

                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Wisdom)</h4>
                    </MBR>
                    <p>@Html.DisplayFor(model => model.Wisdom)</p>
                </div>

                <div class="MonsterColumn">
                    <h4>@Html.DisplayNameFor(model => model.Charisma)</h4>

                    <p>@Html.DisplayFor(model => model.Charisma)</p>

                </div>
            </div>

            <div class="taper"></div>

            <dt>
                @Html.DisplayNameFor(model => model.Proficiencies)
            </dt>

            @foreach (var prof in ViewBag.prof)
            {
                <dd>@prof</dd>
            }



            @if (ViewBag.DamageVuln != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DamageVulnerabilities)
                </dt>

                <dd>
                    @ViewBag.DamageVuln
                </dd>
            }

            @if (ViewBag.DamageResist != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DamageResistances)
                </dt>

                <dd>
                    @ViewBag.DamageResist
                </dd>
            }

            @if (ViewBag.Immunity != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DamageImmunities)
                </dt>

                <dd>
                    @ViewBag.Immunity
                </dd>
            }

            @if (ViewBag.ConditionImmun != "")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ConditionImmunities)
                </dt>

                <dd>
                    @ViewBag.ConditionImmun
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Senses)
            </dt>

            <dd>
                @ViewBag.Senses
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Languages)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Languages)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChallengeRating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChallengeRating)
            </dd>


            @if (ViewBag.Abilities != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.SpecialAbilities)
                </dt>

                <dd>
                    @ViewBag.Abilities
                </dd>
            }

            <div class="taper"></div>

            <dt>
                @Html.DisplayNameFor(model => model.Actions)
            </dt>

            @foreach (var action in ViewBag.action)
            {
                <dd>@action</dd>
            }

            @if (ViewBag.Legendary != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.LegendaryActions)
                </dt>

                foreach (var legendary in ViewBag.Legendary)
                {
                    <dd>@legendary</dd>
                }
            }


            @if (ViewBag.Reaction != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Reactions)
                </dt>
                foreach (var reaction in ViewBag.Reaction)
                {
                    <dd>@reaction</dd>
                }
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
