@using DDToolKit.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - D & D ToolKit</title>
    @*@Styles.Render("~/Content/css/Site.css")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* <a target="_blank" href="https://icons8.com/icons/set/plus--v1">Plus icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>

        <a target="_blank" href="https://icons8.com/icons/set/minus--v2">Minus icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>


    *@

           



    <link rel="icon" href="~/favicon1.ico" type="image/x-icon" />

</head>
<body>


    <link href="~/Content/everywhere.css" rel="stylesheet" type="text/css" />

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @* <ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a href="~/Home/Index" class="navbar-brand"> <img src="~/Content/image/toolkit.jpg" alt="D&D Logo" width="130" height="33" /></a>
            </div>
                </ul>*@
        <ul>
            <li> @Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Blog Post", "Create", "BlogPosts")</li>
            <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
            <li>@Html.ActionLink("Additional Resources", "ExternalLinks", "Home")</li>
            <li>@Html.ActionLink("Tutorial", "Tutorial", "Home")</li>

            <div class="dropdown">
                <button class="dropbtn">Search Engines</button>
                <div class="dropdown-content">
                    <ul>
                        <li>@Html.ActionLink("Monsters", "Index", "Creatures")</li>
                        <li>@Html.ActionLink("Spells", "Index", "Spell")</li>
                        <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
                    </ul>
                </div>
            </div>
        </ul>
        <ul class="nav navbar-nav">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>

    <div id="main">
        <span style="font-size:60px; margin-left:30px;  color:red; cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(255,0,0,0.8)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
