@{
    ViewBag.Title = "About D&D Tool Kit & Manager";
}
<html>
<head>
    <style>
        P {
            border: 7px solid black;
            padding: 20px;
        }

        h1,h3{
            font-family:cursive;
        }
    </style>
</head>
<body>

    <h1>@ViewBag.Title</h1>
    <h3>
        @ViewBag.Message
    </h3>

    <p>
        For those who are interested in D&D and whom want to have a more accessible and
        streamlined experience, the Debug Entities website is both a tool kit and
        game running aid that will provide bookkeeping assistance as well as
        multiple visuals for facilitating interactions of the user and the
        often-complex aspects of the game. It will also contain visuals for
        the characters and items. Unlike other D&D simulators and games, our D&D: tool kit & Manager website
        will have a rich search functionality so users can search through the many
        books in the database and find data from only what they need instead of wasting
        time going through hundreds of pages of hard-covered books manually.
    </p>

    <h3>@ViewBag.Message2 </h3>

    <p>
        Debug Entities Goals for the D&D Tool Kit & Manager is to be able to have
        a working website that will be useful for other users that play D&D. This
        will have its tools of ability to search for certain aspects of the database
        that we will implement in this website, like monsters and spells. This way
        a user is capable to of going through books full of monsters so they can look
        it up faster for their information instead of passing through tons of books
        to find what they want for their game. We want to change their experience of D&D than
        their previous moments in other D&D gaming. Due to our experience we want to make it
        better for other users as well, those who are new could learn how to play D&D through
        our tutorials and step by step process that we want to create for this website .
        Also, we want to be able to make this a more luring environment for our users
        and we want give them a better view of D&D to show that it is a fun and entertaining
        game.
    </p>

    <h3>@ViewBag.Message3 </h3>

    <p>
        Debug entities wants to achieve a better experience a for our users, an ability for
        them to see that not all D&D are the same and want to make this D&D website better
        for the users to experience D&D like they never have before and to enjoy playing
        it more than before and also for those who are new could enjoy their first time
        playing to see that it is better than most people have talked about. Give them
        an opportunity to see what other D&D players see about the gaming experience and to
        give them a chance to enjoy it.
    </p>

    <h3>@ViewBag.Message4 </h3>

    <p>We are a work in progress so many of our features and pages will change in the future.</p>



</body>
</html>

