


    <div class="container information-paragraphs dark-bkr">
        @using (Html.BeginForm("Answers", "Quiz", FormMethod.Post))
        {

        <div>
            <h1>The quiz will test your knowledge about DnD.  Have fun :)</h1>
            <div class="row">
                <h2>Q1: Can you cast underwater? </h2>

                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans1", "1", true) @Html.Label("", "No", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans1", "2") @Html.Label("", "Yes", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans1", "3") @Html.Label("", "Yes,but fire spells deal no damage", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">

                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/f29ada6d-3d56-4bdb-9fd4-faa6b2165dbe.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="row">
                <h2> Q2: Is there alignment restriction for classes in Player's Handbook? </h2>
                <div class="col-lg-7">

                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans2", "1", true) Yes, paladin must be good and monk lawful </label>
                    </div>
                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans2", "2") Yes </label>
                    </div>
                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans2", "3") No</label>
                    </div>

                </div>

                <div class="col-lg-5">
                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/d5d32e32-0107-43e5-973b-3acc74a5f76d.jpg" alt="Alternate Text" />
                </div>

            </div>

            <div class="row">
                <h2>Q3:Can you knock a creature out with a melee spell attack? </h2>
                <div class="col-lg-7">
                    <div>
                        @Html.RadioButton("Ans3", "1", true) @Html.Label("No, only with a melee weapon", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans3", "2") @Html.Label("Yes", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans3", "3") @Html.Label("Only with spell sniper feat", new { @class = "answer-label" })
                    </div>
                </div>

                <div class="col-lg-5">
                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/1be15517-b12e-461a-a6d3-e60823f63970.jpg" alt="Alternate Text" />
                </div>

            </div>

            <div class="row">
                <h2>Q4: Can you use a shield with Mage Armor spell? </h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans4", "1", true) @Html.Label("Yes, mage armor spells works with a sheild", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans4", "2") @Html.Label("No, they do not stack", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans4", "3") @Html.Label("Only with a light sheild or buckler sheild", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">
                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/be192522-c786-4e27-8d74-28258b9f0c44.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="row">
                <h2>Q5: A monster is immune to damage from nonmagical bludgeoning weapons. Does he still take damage from falling?</h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans5", "1", true) @Html.Label("No, fall is a weapon", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans5", "2") @Html.Label("Yes, fall is not a weapon", new { @class = "answer-label" })
                    </div>

                    <div>
                        @Html.RadioButton("Ans5", "2") @Html.Label("Yes, but has resistance to damage", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">

                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/2be5c777-9da2-45b6-a06c-35bf6efccafa.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="row">
                <h2>Q6: If a 5th level wizard casts a Fireball during surprise, do the enemies get disadvantage on their saving throw?</h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans6", "1", true) @Html.Label("Yes", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans6", "2") @Html.Label("No", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">
                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/a09d152d-cc14-49d1-85fa-685d07352fef.jpg" alt="Alternate Text" />
                </div>

            </div>

            <div class="row">
                <h2>Q7: Is a 1 on an ability check an automatic failure?</h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans7", "1", true) @Html.Label("Yes and roll a d10 on fumble table", new { @class = "answer-label" })
                    </div>

                    <div>
                        @Html.RadioButton("Ans7", "2") @Html.Label("Yes", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans7", "3") @Html.Label("No, is not an automatic failure", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">

                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/674677d0-109a-4b90-8d1a-feae54e8eef3.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="row">
                <h2>Q8:Can a rogue get sneak attack damage against undead?</h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans8", "1", true) @Html.Label("Yep, sneak attack works against undead", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans8", "2") @Html.Label("nope", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans8", "3") @Html.Label("only if you use a bludgeoning weapon", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">

                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/eba670a9-a041-4bc1-949a-56abd37996a1.jpg" alt="Alternate Text" />


                </div>

            </div>

            <div class="row">
                <h2>Q9: If you have a creature between you and the target...</h2>
                <div class="col-lg-7">

                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans9", "1", true) Target has cover + 4 bouns to AC</label>
                    </div>
                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans9", "2") you have disadvantage</label>
                    </div>
                    <div>
                        <label class="answer-label">@Html.RadioButton("Ans9", "3") Target has half-cover + 2 bouns to AC </label>
                    </div>

                </div>

                <div class="col-lg-5">
                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/e6624878-70bc-4d42-8174-6ffd323d9c0b.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="row">
                <h2>Q10: Can you make an attack action from Prone condition?</h2>
                <div class="col-lg-7">

                    <div>
                        @Html.RadioButton("Ans10", "1", true) @Html.Label("Yes, but you have disadvantage on attack rolls", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans10", "2") @Html.Label("only with a weapon with reach property", new { @class = "answer-label" })
                    </div>
                    <div>
                        @Html.RadioButton("Ans10", "3") @Html.Label("No", new { @class = "answer-label" })
                    </div>

                </div>

                <div class="col-lg-5">

                    <img style="height:250px; width:250px" src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_640,c_limit/cdn/e6f4b0e4-bcd2-4486-954e-9fb0274b0f32/abc1d6f7-98ca-48a7-8b4c-854bc8131f3e.jpg" alt="Alternate Text" />

                </div>

            </div>

            <div class="form-group">
                <input class="btn btn-primary quiz-submit" type="submit" id="quizSubmit" value="Get Score" />
            </div>
        </div>
    

        }
    </div>


@section scripts{
    <script src="~/Scripts/quiz.js">
    </script>
}