@model DDToolKit.Models.Save

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Save</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monsters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monsters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
