@model IEnumerable<DDToolKit.Models.Player>

@{
    ViewBag.Title = "Game view";

}

<img src="https://assets.pernod-ricard.com/nz/media_images/test.jpg?hUV74FvXQrWUBk1P2.fBvzoBUmjZ1wct" alt="Filler" width="500" height="600">

<div>
    <button onclick="toggle()">
        Toggle Monster Information
    </button>
</div>

<dl class="dl-horizontal" id="monster">
    <dt>
        Name
    </dt>
    <dd>
        @ViewBag.name
    </dd>
    <dt>
        Size
    </dt>
    <dd>
        @ViewBag.size
    </dd>
    <dt>
        Type
    </dt>
    <dd>
        @ViewBag.type
    </dd>
    <dt>
        Subtype
    </dt>
    <dd>
        @ViewBag.stype
    </dd>
    <dt>
        Alignment
    </dt>
    <dd>
        @ViewBag.Align
    </dd>
    <dt>
        Armor Class
    </dt>
    <dd>
        @ViewBag.ac
    </dd>
    <dt>
        Hit Points
    </dt>
    <dd>
        @ViewBag.hp
    </dd>
    <dt>
        Hit Dice
    </dt>
    <dd>
        @ViewBag.hd
    </dd>
    <dt>
        Strength
    </dt>
    <dd>
        @ViewBag.str
    </dd>
    <dt>
        Dexterity
    </dt>
    <dd>
        @ViewBag.dex
    </dd>
    <dt>
        Constitution
    </dt>
    <dd>
        @ViewBag.con
    </dd>
    <dt>
        Dexterity
    </dt>
    <dd>
        @ViewBag.name
    </dd>
    <dt>
        Inteligence
    </dt>
    <dd>
        @ViewBag.intel
    </dd>
    <dt>
        Wisdom
    </dt>
    <dd>
        @ViewBag.wis
    </dd>
    <dt>
        Charisma
    </dt>
    <dd>
        @ViewBag.cha
    </dd>
    <dt>
        Languages
    </dt>
    <dd>
        @ViewBag.lang
    </dd>
    <dt>
        Challenge Rating
    </dt>
    <dd>
        @ViewBag.chal
    </dd>
    <dt>
        Speed
    </dt>
    <dd>
        @ViewBag.speed
    </dd>
    <dt>
        Proficiencies
    </dt>
    <dd>
        @ViewBag.prof
    </dd>
    <dt>
        DamageResistance
    </dt>
    <dd>
        @ViewBag.resist
    </dd>
    <dt>
        DamageVulnerability
    </dt>
    <dd>
        @ViewBag.vuln
    </dd>
    <dt>
        DamageImmunity
    </dt>
    <dd>
        @ViewBag.immune
    </dd>
    <dt>
        ConditionImmunity
    </dt>
    <dd>
        @ViewBag.invuln
    </dd>
    <dt>
        Special Abilities
    </dt>
    <dd>
        @ViewBag.special
    </dd>
    <dt>
        SpecialAbility
    </dt>
    <dd>
        @ViewBag.special
    </dd>
    <dt>
        Actions
    </dt>
    <dd>
        @ViewBag.actions
    </dd>
    <dt>
        LegendaryActions
    </dt>
    <dd>
        @ViewBag.legactions
    </dd>
</dl>


<body>
   <table cellpadding="0" cellspacing="0" class="Grid" id="Stats">
        <tr>
            <th></th>
            <th>     Players Stats                       </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aligment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dexterity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Constitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wisdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charisma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proficiencies)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DamageResistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConditionImmunity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Senses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialAbility)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actions)
                </th>
        </tr>*@



       
            <tr>
                <td>
                <img src="/Images/plus.png" />
                <div style="display:none">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Size
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Aligment
                            </th>
                            <th>
                                ArmorClass
                            </th>
                            <th>
                                HitPoints
                            </th>
                            <th>
                                Strength
                            </th>
                            <th>
                                Dexterity
                            </th>
                            <th>
                                Constitution
                            </th>
                            <th>
                                Intelligence
                            </th>
                            <th>
                                Wisdom
                            </th>
                            <th>
                                Charisma
                            </th>
                            <th>
                                Languages
                            </th>
                            <th>
                                Speed
                            </th>
                            <th>
                                Proficiencies
                            </th>
                        </tr>
                       @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.Aligment
                            </td>
                            <td>
                                @item.ArmorClass
                            </td>
                            <td>
                                @item.HitPoints
                            </td>
                            <td>
                                @item.Strength
                            </td>
                            <td>
                                @item.Dexterity
                            </td>
                            <td>
                                @item.Constitution
                            </td>
                            <td>
                                @item.Intelligence
                            </td>
                            <td>
                                @item.Wisdom
                            </td>
                            <td>
                                @item.Charisma
                            </td>
                            <td>
                                @item.Languages
                            </td>
                            <td>
                                @item.Speed
                            </td>
                            <td>
                                @item.Proficiencies

                            </td>
                            @*<td>
                @Html.DisplayFor(modelItem => item.DamageResistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionImmunity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actions)
            </td>*@
                        </tr>
                        }
                    </table>
                    </div>
                </td>
                <td>This Is Where You Will Be Able To See All The Players Stats That You Have Choosen</td>
                
</tr>
        


    </table>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        //Assign Click event to Plus Image.
        $("body").on("click", "img[src*='plus.png']", function () {
            $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
            $(this).attr("src", "/images/minus.png");
        });
        //Assign Click event to Minus Image.
        $("body").on("click", "img[src*='minus.png']", function () {
            $(this).attr("src", "/images/plus.png");
            $(this).closest("tr").next().remove();
        });
    </script>

</body>
<div>
    <button onclick="hide()">
        Hide/Unhide
    </button>
</div>
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .Grid {
        border: 1px solid #fff;
        border-collapse: collapse;
        background-color: #fff;
    }

        .Grid th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        .Grid th, .Grid td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        .Grid img {
            cursor: pointer;
        }

    .ChildGrid {
        width: 100%;
    }

        .ChildGrid th {
            background-color: #6C6C6C;
            color: #fff;
            font-weight: bold;
        }
</style>


<table style="width:40%">
    <tr>
        <td style="text-align:center">
            Four-sided Die
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result4').innerHTML = rollDice(4)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result4"></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            Six-sided Die
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result6').innerHTML = rollDice(6)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result6"></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            Eight-sided Die
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result8').innerHTML = rollDice(8)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result8"></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            Twelve-sided Die
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result12').innerHTML = rollDice(12)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result12"></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            Twenty-sided Die
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result20').innerHTML = rollDice(20)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result20"></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            Two Ten-sided Dice
        </td>
        <td style="text-align:center">
            <href onclick="document.getElementById('result100').innerHTML = (rollDice(100)-1)">
                <img src="https://www.wizards.com/dnd/dice/images/roll1.jpg" />
            </href>
        </td>
        <td style="text-align:center">
            <p id="result100"></p>
        </td>
    </tr>
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    function hide() {

         var x = document.getElementById("Stats");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    

</script>

<script type="text/javascript">

    function rollDice(max) {
        return 1 + Math.floor(Math.random() * max)
    }

    const rollDice4 = () => rollDice(4)
    const rollDice6 = () => rollDice(6)
    const rollDice8 = () => rollDice(8)
    const rollDice12 = () => rollDice(12)
    const rollDice20 = () => rollDice(20)
    const rollDice100 = () => rollDice(100)

    function toggle() {
        var x = document.getElementById("monster");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
