@model IEnumerable<DDToolKit.Models.Save>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    <button>@Html.ActionLink("Create New Save Game", "Create")</button>
   

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button>@Html.ActionLink("Add a character to this save", "CreatePlayer", new { id = item.ID })</button>
            </td>
            <td>
                <button>@Html.ActionLink("Let's Play!", "Game", new { id = item.ID })</button>
            </td>
        </tr>
    }
</table>
