


@{
    ViewBag.Title = "EquipmentInfo";
}


<h1 style="text-align:center">Equipment Detail page for @ViewBag.name</h1>

@if (ViewBag.Success == true)
{
    
    <p><h4>Name:  </h4> @ViewBag.name</p>
    <p><h4>Equipment Category: </h4> @ViewBag.equipCategory</p>
    if(ViewBag.desc != null)
    {
        <p><h4>Description : </h4> @foreach (var item in ViewBag.desc) { string description = item.ToString(); @description;} </p>
    }

    if(ViewBag.special != null) { <p><h4>Special : </h4> @foreach (var item in ViewBag.special) { string special = item.ToString(); @special;} </p> }

    if (ViewBag.vehicleCategory != null) { <p><h4>Vehicle Category: </h4>   @ViewBag.vehicleCategory </p> }
    if (ViewBag.armorCategory != null) { <p><h4>Armor Category: </h4>  @ViewBag.armorCategory</p> }
    if (ViewBag.gearCategory != null) { <p><h4>Gear Category: </h4>  @ViewBag.gearCategory </p> }
    if (ViewBag.toolCategory != null) { <p><h4>Tool Category: </h4> @ViewBag.toolCategory</p> }
    if(ViewBag.quantity != null) { <p><h4>Quantity Cost: </h4> @ViewBag.quantity </p> }
    if(ViewBag.unit != null) { <p><h4>Unit Cost: </h4> @ViewBag.unit </p> }
    if(ViewBag.weight != null) { <p><h4>Weight: </h4> @ViewBag.weight </p> }
    if (ViewBag.weaponCategory != null) { <p><h4>Weapon Category:</h4>  @ViewBag.weaponCategory </p> }
    if (ViewBag.weaponRange != null) { <p><h4>Weapon Range: </h4> @ViewBag.weaponRange</p> }
    if (ViewBag.categoryRange != null) { <p><h4>Category Range:</h4>  @ViewBag.categoryRange </p> }
    if (ViewBag.damageDice != null) { <p><h4>Damage Dice: </h4>   @ViewBag.damageDice</p> }
    if (ViewBag.damageBounc != null) { <p><h4>Damage Bounc: </h4>  @ViewBag.damageBounc </p> }
    if (ViewBag.damageTypeName != null) { <p><h4>Damage Name Type: </h4>  @ViewBag.damageTypeName </p> }
    if (ViewBag.damageTypeUrl != null) { <p><h4>Damge Type Url: </h4>  @ViewBag.damageTypeUrl</p> }
    if (ViewBag.rangeNormal != null) { <p><h4>Normal Range: </h4>  @ViewBag.rangeNormal</p>}
    if (ViewBag.rangeLong != null) { <p><h4>Long Range: </h4>  @ViewBag.rangeLong</p> }
    if (ViewBag.prepertyUrl != null) { <p><h4>Property url(s):</h4>  @foreach (var item in ViewBag.prepertyUrl) { string propUrl = item.ToString();<h6>@propUrl;</h6>} </p> }
    if (ViewBag.prepertyName != null) { <p><h4>Property Name(s):</h4>  @foreach (var item in ViewBag.prepertyName) { string propName = item.ToString();<h6>@propName;</h6>} </p> }
    if (ViewBag.damage2hDamageDice != null) { <p><h4>2h_Damage Dice: </h4> @ViewBag.damage2hDamageDice</p> }
    if (ViewBag.damage2hDamageBounc != null) { <p><h4>2h_Damage Bounc: </h4>  @ViewBag.damage2hDamageBounc </p> }
    if (ViewBag.damage2hDamageType != null) { <p><h4>2h_Damage Name Type: </h4>  @ViewBag.damage2hDamageType </p>}
    if (ViewBag.armorClassBase != null) { <p><h4>Armor Class Base: </h4>  @ViewBag.armorClassBase </p>}
    if (ViewBag.armorClassDexBonus != null) { <p><h4>Armor Class Dex Bonus: </h4>  @ViewBag.armorClassDexBonus </p>}
    if (ViewBag.strMinimum != null) { <p><h4>Str Minimum: </h4>  @ViewBag.strMinimum </p>}
    if (ViewBag.stealthDisadvan != null) { <p><h4>Stealth Disadvantage: </h4>  @ViewBag.stealthDisadvan </p>}
    if (ViewBag.speedQuantity != null) { <p><h4>Speed Quantity: </h4>  @ViewBag.speedQuantity </p>}
    if (ViewBag.speedUnit != null) { <p><h4>Speed Unit: </h4>  @ViewBag.speedUnit </p>}
    if (ViewBag.capacity != null) { <p><h4>Capacity: </h4>  @ViewBag.capacity </p>}
    if (ViewBag.normalThrowRange != null) { <p><h4>Normal Throw Range: </h4>  @ViewBag.normalThrowRange </p>}
    if (ViewBag.longThrowRange != null) { <p><h4>Long Throw Range: </h4>  @ViewBag.longThrowRange </p>}


    
    
}
          
<div>
    @Html.ActionLink("Back to Search", "Index")
</div>        
            